.quote {
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    margin-top: 75px;
    font-family: 'Do Hyeon', sans-serif;
}

.figure {
    margin-top: 50px;
}

.qmark {
    font-size: 96px;
    position: relative;
}

.open-qmark {
    margin-right: 15px;
    top: 20px
}

.close-qmark {
    margin-left: 15px;
    top: 80px;
}
